.THIS{
    
}

.THIS .accountList{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #FFFFFF;
    height: 100%;
}
.THIS .select .uiInput .uiInputSelect .uiInput--default .uiInput--select{
    width:150px;
}
.THIS .textSearch .input .uiInput .uiInputText .uiInput--default .uiInput--input{
    width:150px;
}

.THIS .colorIndicator{
        margin-top: 19px;
}
.THIS .trWidth{
    height: 20px;
    width:20px;
    
}
.THIS .Agency_Account {
  background-color: #5b8aa9;
}
.THIS .Prospect_Account {
  background-color: #0f21a8 
;
}
.THIS .Other_Account {
  background-color: #33F0FF;
}
.THIS .New_Account {
  background-color: #D83638;
}
.THIS .Freight_Account {
  background-color: #7476f2;
}
.THIS .Global_Account {
  background-color: #62DE2F;
}
.THIS .Customer_Account {
  background-color: #41eff2;
}
.THIS .Charter_Account {
  background-color: #7563b0;
}
.THIS .Regional_Account {
  background-color: #6A5BA3;
}
.THIS .Master {
  background-color: #4412FF;
}
.THIS .colortable{
    width:30%;
}
.THIS .box{
    width: 30px; /*Desired width*/
  height: 30px;
    color:white;
}
.THIS .colorIndicator{
    padding: 0;
    margin: 0;
    height: 30%;
    width:30%;
}
.THIS .heading{
        margin-top: 29px;
    margin-bottom: -34px;
    font-weight: 700;
}