.THIS .searchForm{
   /* width:70%;
    margin-left:15%;
   
    margin-bottom:7px;*/
}
.THIS .pagination{
    margin-top:3%;
}
.THIS .record{
    cursor: cursor;
}

.THIS div.slds-text-color--error{
     text-align: center;
    font-size:12px;
}

.THIS .assignCaseBtn{
    float:right;
}

.THIS .full-width{
    width:100%;
    margin-bottom:7px;
}

.THIS .half-width{
    width:50%;
    margin-left:15%;
}

.THIS .slds-input{
    margin-bottom:2%;
}

.THIS .results-row{
}

.THIS .pnr-col{
    cursor:pointer;
}

.THIS .firstname-col{
    cursor:pointer;
}
.THIS .lastname-col{
    cursor:pointer;
}
.THIS .ffNumber-col{
    cursor:pointer;
}
.THIS .phone-col{
    cursor:pointer;
}
.THIS .email-col{
    cursor:pointer;
}
.THIS .media-handle-col{
    cursor:pointer;
}

.THIS .source{
    cursor:pointer;
}

.THIS .assign-btn-col{
    padding-left:1%;
    padding-right:1%;
}

.THIS .source{
    padding-left:1%;
    padding-right:1%;
}
.THIS .submit-btns{
    padding-left:27%;
    margin-bottom:13px;
    margin-top: 20px;
}

.THIS .phone{
    width: 100%;
}

.THIS .right{
    float: right;
    max-width: 40%;
}
.THIS .left{
    float: left;
    width: 40%;
}
.THIS .clear{
    clear: both !important;
}

.THIS .pad-bottom{
    /*margin-bottom:30px;*/
}

.THIS .duplicates{
    background-color: white;
}

.THIS .newsearchform{
    padding-bottom:30px;
}

.THIS .class{
    cursor: pointer;
}