.THIS .slds-table thead th{
    padding-left : 0.5rem;
}
.THIS .slds-table tbody th{
    padding-left : 0.5rem;
}
.THIS .slds-tile{
    overflow: auto;
}
.THIS .toggleRecord{
    display:none;
}
.THIS .stateClass {
    margin-top: 15px;
}
.THIS .refreshButton{
    padding-left: 5px;
    padding-right: 5px;   
	border-radius: 30%;
	border: 1px solid rgb(221, 219, 218);    
}
/*
.THIS table tr:nth-child(n+4) {
    background-color : red;
    display:none;
}
.THIS #buttonContainer{
    width: 30px;  height: 30px; position: relative;
}
.THIS #solidIcon, .THIS #gifIcon{
    width: 100%;  height: 100%;  position: absolute; top: 0; left: 0; padding-top: 5px;
}
.THIS #gifIcon{
	z-index: 10;
}
*/