.THIS{
    padding:10px;
}
.THIS .title-margin{
    margin-bottom:20px !important;
}
.THIS .section-extra{
    border: 1px solid rgb(221, 219, 218) !important;
    border-radius: 5px !important;
    padding: 10px !important;
    padding-bottom: 20px !important;
}
.THIS .cls-button-right{
	text-align: right;
}
.THIS .cls-submit-btn{
	margin-right: 7px;
	bottom: -20px;
}