.THIS .acrtile{
    font-size : 16px;
}
.THIS div.slds-form-element_control.slds-grid.itemBody{
    padding-top: 8px;
    padding-bottom: 10px;
}
.THIS div.test-id__field-label-container{
    padding-top: 5px;
}

.THIS .slds-p-horizontal_x-small{
    padding-left: 0px;
}

.THIS span.slds-icon_container.slds-icon-utility-down.sldsButtonIconFix--x-small.relatedRecordActionIcon.slds-button__icon.forceIcon{
	margin-top: 1px;    
}