.THIS.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
}

.THIS .custom-box {
    text-align: center;
    border: 1px solid #d8dde6;
}

.THIS .outPutText-box {
    text-align: center;
     font-weight: bold;
}