.THIS .slds-accordion__summary-heading
{
	display: flex;
    align-items: center;
    font-size: 1rem;
    line-height: 1.875rem;
    border: 1px solid transparent;
    border-radius: .25rem;
	background-color: rgb(243, 242, 242);
    text-transform: uppercase;
    /* font-family: Trebuchet, Arial, sans-serif; */
    font-weight: bold;    
}
.THIS .customRequired
{
    font-weight: 400; 
}
.THIS .customRequired:before
{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left; 
} 
.THIS .none
{
    display:none; 
}