<div class="col-sm-12">
    <br/>
    <br/>
    <br/>
    <div align="center" draggable="false" >
        <h3>Widget is Loading...</h3>
        <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
    </div>
</div>