.THIS div.slds-modal__container{
    width: auto;
    padding-top: 170px;
    max-width: 70rem;
}
.THIS div.slds-modal__content{
    overflow-x: auto;
}
.THIS thead tr th {
    font-weight : bold;
}
.THIS .tableHead{
	background-color: rgb(216, 221, 230);
}
.THIS .legendTitle{
	font-weight : bold;
	font-size : 16px;    
}
.THIS .slds-spinner_container {  
	z-index: 10000;
	position: fixed;   
}