body {
    background-color: #ededed;
}

hr {
    background-color: red;
    height: 1px;
    border: 0;
}

.animate-show-hide.ng-hide {
    opacity: 0;
  }
  
.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
transition: all linear 0.5s;
}

.case-button {
    padding-top: 300px;
    padding-bottom: 300px;
}

.center {
    margin: auto;
    width: 55%;
}