.THIS.slds-modal__header  {
    font-size: medium !important;
}

.THIS .myStyle .slds-button {
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: inherit;
}