.THIS {
    position:absolute;
    height: 100%;
    width: 100%;
}

/*.THIS>div {
    height: 50%;
}*/

.THIS .map{
    height: 70%;
    width: 100%;
}
.THIS .AccountTable{
    height: 40%;
    width: 100%;
    margin-top: 19px;
}

.THIS .container{
    
    margin-right: 40px;
}