.THIS{
    padding:10px;
}
.THIS.hide_display{
    display:none !important;
}
.THIS .ff-button{
    background-color: rgb(0, 112, 210) !important;
    color: white !important;
    top: 30% !important;
    margin-left: 10% !important;
    width: 16% !important;
}

.THIS .apology-button{
    background-color: rgb(0, 112, 210) !important;
    color: white !important;
    top: -25%!important;
    margin-left: 0%!important;
    width: 11%!important;
}
.THIS .title-margin{
    margin-bottom:20px !important;
}
.THIS .section-extra{
    border: 1px solid rgb(221, 219, 218) !important;
    border-radius: 5px !important;
    padding: 10px !important;
    padding-bottom: 20px !important;
}
.THIS .cls-submit-btn{
    margin-right: 7px;
    float: right
}