.THIS .tableSty {
     width:200%;
     border: 1px solid black;
     table-layout:fixed;
}
.THIS .cellBgColor {
     background-color: #FF0000;
}
.THIS .cellBgColor:hover {
     background-color: #FF0000;
}
.THIS .fontColor {
     color: #FFFFFF;
}