Body {
    background-color: #F0F0F0;
    height: 100vh;
    float: left;
}

.mainBody {
    background-color: #F0F0F0;
    margin-left: 20px;
}

.container {
    width: 480px;
    margin: 0;
    padding: 0;
}

.col-xs-12 {
    padding: 0;
}

.row {
    //margin-top: 40px;
    //padding: 0 10px;
}

a:hover {
    cursor: pointer;
}

.contact-list span:hover {
    cursor: default;
}

.slds-icon__container:hover {
     cursor: pointer !important;
}

.clickable {
    cursor: pointer;
}

.parent-row-label {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
}

.searchIcon:hover {
    cursor: pointer;
}

.ErrorMsg {
    font-weight: bold;
    color: #c00;
    text-align: center;
    float: left;
}
.icon-indicator-box:hover {
    cursor: pointer
}

/*!  ******************************* Panels ******************/

.panel-heading span {
    font-size: 15px;
}

.panel {
    margin-bottom: 0;
}

.panel-primary {
    // color: black;
    background-color: #F0F0F0;
    //border-color: #337ab7;
    border-color: #F0F0F0 !important;
    height: 35px;
}

.panel-primary>.panel-heading {
    // color: black;
    background-color: #F0F0F0;
    //border-color: #337ab7;
    border-color: #F0F0F0 !important;
}

.panel-title {
    white-space: pre-line;
}

.contact-list li {
    list-style-type: none;
    //margin-bottom: 14px;
    //margin-top: 14px;
    clear: both;
    line-height: 35px;
}

.account-section a {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

.panel-title a {
    color: #767778;
}

.panel-body a {
    color: #767778;
}

.contact-list a {
    color: #767778;
}

.tokenfield a {
    color: #767778;
}

.row-item a {
    color: #767778;
}

.row-item {
    border-top: 1px solid #d6d6d6;
    position: relative;
    width: inherit;
    min-width: 96%;
    width: 100%;
}

.row-item-related {
    position: relative;
    min-width: 96%;
    //width: 100%;
    margin-left:10px;
}
.row-item-related a {
    color: #767778;
}

.dynamicBlock {
    margin-left: 55px;
}

.contact-section {
    margin-left: 55px;
    clear:both;
}

.contact-section-related {
    margin-left: 0px;
}

.contact-list {
    margin: 0;
    float:left;
}

.object-hover {
    float: left;
}

.parent-hover-container {
    //width: 250px;
    height: 25px;
    display: block;
    
}

.parent-onclick-container {
    float: left;
    overflow: hidden;
    width: 58%;
}

/*!  ******************************* Actions Block ******************/

.actionsBlock {
    margin-left: 5px;
}

.actionsBlock .popover-content {
    background-color: white !important;
    width: 100% !important;
    padding:10px;
}

.actionsBlock .popover-content .actionItem {
    height: 25px;
    border-bottom: 1px solid #F0F0F0;
    overflow: hidden;
}

.actionsBlock .popover-content a {
    font-size: 12px;
    color: #5f6162;
    font-weight: normal;
    padding-left: 10px;
}

.actionsBlock .popover-content .actionItem a {
    white-space: nowrap;
}

.actionsBlock .popover-content .actionItem a:hover {
    color: #ffffff;
}

.actionsBlock .popover-content .actionItem:hover {
    background-color: #8E8F8A;
}

.actionsBlock .popover-content .actionItem:hover a {
    color: #ffffff;
}

.actionsBlock .popover-content .container {
    padding-right: 10px;
}

.actions-button {
    background: #F2F2F2 repeat-x right top;
    color: black;
}


/*************************  Indicator Popover ********************/

.nochat-link .popover-content {
    color: #ffffff !important;
    background-color: black !important;
    width: 120px !important;
    font-size: 12px;
    height: 28px;
    text-align: center;
    padding: 5px;
}

.indicator-icon-list .popover-content {
    background-color: black !important;
    color: #ffffff !important;
    border-radius: 5px !important;
}

.indicator-icon-list .ggpopover {
    white-space: nowrap;
    width: auto;
    max-width: 480px;
}

.popover-indicator-icon {
    //width: 35px;
    height: 100%;
    float: left;
    padding: 3px;
    margin-right: 3px;
}

.indicator-icon-vertical {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-width: 1px 1px 0 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    text-align: center;
}

.indicator-icon-horizontal {
    width: 40px;
    height: 44px;
    left: -40px;
    border-width: 1px 0 1px 1px;
    ;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;
    position: absolute;
    padding: 4px;
}

.indicator-icon-outside {
    width: 30px;
    height: 44px;
    /* left: -60px; */
    border-width: 0 1px 1px 0;
    /* border-top-right-radius: 5px; */
    border-bottom-right-radius: 5px;
    background-color: white;
    position: absolute;
}

.indicator-icon-container {
    border-style: solid;
    border-color: #BDBACB;
}

.icon-indicator .slds-icon-indicator {
    fill: #8F8F8A !important;
    background-color: #ffffff;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffffff, #D9D9D9);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff, #D9D9D9);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff, #D9D9D9);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, #D9D9D9);
    /* Standard syntax */
    border: 1px soldid #D9D9D9;
}

.icon-indicator .slds-icon-indicator:hover {
    fill: #FF9300 !Important;
}

.icon-indicator-box {
    //border: 1px solid #DCDCDC;
    border-radius: 3px;
    float: left;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(220, 220, 220, 1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(220, 220, 220, 1);
    box-shadow: 0px 0px 0px 2px rgba(220, 220, 220, 1);
}


/******************************** Info Icon  ******************/

.object-popover-display {
    float: left;
}

.info-icon-container {
    height: 38px !important;
    display: inline-block;
    width: 30px;
    text-align: center;
    overflow: visible !important;
}


/*!  ******************************* Search Box ******************/

.search-container {
    float: left;
    width: 100%;
}

.search {
    display: block;
    //width: 300px;
    min-height: 36px;
    
    position: relative;
    background-color: white;
    text-align: right;
    //overflow: hidden;
    // border-radius: 1em;
    line-height: 30px;
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.search > input {
    position: absolute;
    top: 0;
    left: 6px;
    right: 2em;
    bottom: 6px;
    background-color: transparent;
    //border-radius: 1em 0 0 1em;
    border-width: 0;
    border-right: none;
    outline: none;
    width: 85%;
    margin-top: auto;
    margin-bottom: auto;
}

.searchIcon {
    width: 7%;
    background: none repeat scroll 0 0;
    // line-height: 44px;
    float: left;
    margin: 0 auto;
}

.SearchSelect {
    width: 10%;
    float: left;
    height: 32px;
    margin: 2px;
}

.searchIcon .search_icon_svg {
    fill: #cccccc;
    width: 18px;
    height: 18px;
}

.right-to-left li {
    float: right;
}

.nav>li>a {
    padding: 10px 10px;
}

.right-to-left li {
    margin-left: 0
}

.TopSearch {
    background-color: white;
    height: 35px;
    width: 40px;
}

.Contact-Hover span {
    margin-left: 2px;
    margin-right: 2px;
}

.ObjectSelect {
    float: left;
    width: 10%;
    padding: 4px;
}

.search-menu-item {
    width: 100%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    line-height: 35px;
}

.search .form-control {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.tokenfield {
    height: 0;
}

.tokenfield {
    text-align: left;
    width: 82%;
    float: left;
    //margin-top: 4px;
    //margin-left: 12px;
}

.ddlabel {
    display: none;
}

.dd {
    width: 38px !important;
}

.dd-select {
    background: none !important;
    background-color: #F0F0F0 !important;
    max-height: 36px;
    width: 48px !important;
}

.dd-selected {
    padding: 0;
    background-color: #F0F0F0 !important;
}

.dd-selected-image {
    width: 24px;
    height: 24px;
}

.dd-container {
    //overflow: overlay  
    height: 36px !important;
    width: 48px !important;
}

.dd-options {
    background-color: #F0F0F0;
}

.dd-pointer-down {
    border: solid 5px transparent;
    border-top: solid 5px #808080;
}

.dd-option-image {
    width: 30px !important;
}

.dd-pointer {
    right: 4px;
}


/******************* Object Overview Box  *************************/

.object-data-ppo .contactHeader span,
a {
    color: #ffffff;
}

.object-data-ppo .contactBlock span,
a {
    color: #ffffff;
    font-size: 12px;
    cursor: default;
}
<<<<<<< .mine
.object-data-ppo {
    clear:both;
}
||||||| .r485
=======
<<<<<<< .mine
.object-data-ppo {
    clear:both;
}
||||||| .r485
=======
.object-data-ppo {
    //clear:both;
}
>>>>>>> .r494
>>>>>>> .r495

.object-hover-list a {
    font-size: 12px;
}

.object-hover-linkchat a {
    color: #767778;
}

.contactHeader {
    max-width: 440px;
    width: 440px;
    margin: 0 4px 12px 4px;
    float: left;
}

.hover-container  .ggpopover {
    margin-top: -4px;
}

.contactBlock {
    //padding: 4px;
}

.hover-container .ggpopover .popover-content {
    min-height: 48px
    cursor: default;
}

.object-hover-list {
    //border-collapse:separate !important; 
    //border-spacing: 15px !important ;
}

.object-hover-list td,
th {
    color: white;
    width: 180px;
    font-family: "Myriad pro", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    font-size: 12px;
    padding-bottom: 15px !important;
    cursor: default;
}

.object-hover-list tr {
    //height: 28px;
}

.object-hover-linkchat {
    float: right;
}

.overviewLink , .overviewLink:hover {
    color: white !important;
}

.object-hover-linkchat a {
    //color: black;
    //background: #e8e8e9 url('/img/alohaSkin/btn_sprite.png') repeat-x right top;
    height: 18px;
    width: 78px;
    padding: 0;
    text-decoration: none;
    padding: 0;
    border: 1px solid #D1D1D1;
    color: #868686 !important;
    background: #F2F2F2 repeat-x right top;
}

.object-hover-linkchat a:link {
    //color: black;
    //background-color: transparent;
    text-decoration: none
}

.object-hover-linkchat a:visited {
    //color: black;
    //background-color: transparent;
    text-decoration: none
}


/*!  ******************************* popover styling ******************/

.popover-text {
    color: white;
}

.popover-text a {
    color: white;
}

.ggpopover {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /* future proofing */
    -khtml-border-radius: 10px;
    /* for old Konqueror browsers */
    font-family: "Myriad pro", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}

.popover-content {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 4px !important;
    /* future proofing */
    -khtml-border-radius: 10px;
    /* for old Konqueror browsers */
    background-color: #323336 !important;
    border: 1px solid #98999B;
    border-radius: 2px;
    box-shadow: 0 0 10px 0 rgba(81, 82, 84, 0.6);
    //z-index: 100003;
    color: white;
    width: 480px;
    //padding: 20px !important;
}

.ggpopover {
    max-width: 480px;
    // height: 150px;
    width: auto;
    //background-color: #323336 !important;
}


/*!  ******************************* list styling ******************/

.contact-list span {
    font-family: "Myriad pro", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #767778;
    height: 35px;
    /*float: left; */
}

.ChatLinkedSuccess a {
    color: white;
}

.ChatLinkedSuccess {
    background-color: black;
    width: 320px;
    height: 38px;
    position: fixed;
    top: 18px;
    right: 0;
    bottom: 0;
    left: 85px;
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    color: white;
    text-align: center;
    padding-top: 8px;
}

.SeeAllLabel a {
    color: #4E7687;
}

.ObjectViewBlock .row {
    height: 38px;
}

.BackIcon {
    height: 32px;
    width: 32px;
}

.ErrorHandler {
    color: red;
    font-weight: bold;
    margin: 8px;
}

#ActionsContainer .ggpopover {
    width: 200px;
}

.indicator-icon {
    margin-left: 4px;
    margin-right: 4px;
}

.ChatUnlink-Container {
    position: absolute;
    padding: 20px 10px 20px 10px;
    top: 25%;
    left: 50%;
    margin-left: -164px;
    margin-top: -97px;
    background-color: #323336;
    border: 1px solid #98999B;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(81, 82, 84, 0.6);
    z-index: 100003;
    color: white;
    font-size: 12px;
}

.ChatUnlink-Container a {
    color: white;
    padding: 0;
}

.ChatUnlink-Container-btn {
    background: #e8e8e9 url('/img/alohaSkin/btn_sprite.png') repeat-x right top;
    color: black !important;
    height: 24px;
    font-size: 12px;
    margin: 0 auto;
    line-height: 24px;
}

.ChatUnlink-Span-Btn {
    margin-left: 12px;
}

.contactIcons {
    width: 18px;
    height: 18px;
}


/*!  ******************************* Buttons ******************/

.actions-button {
    width: 60px;
    height: 30px;
    padding: 0;
    line-height: 30px;
    border: 1px solid #D1D1D1;
    color: #868686;
}

.link-button {
    width: 30px;
    height: 30px;
    padding: 0;
    line-height: 30px;
    border: 1px solid #D1D1D1;
    color: #868686;
}

.glyphicon-chevron-up {
    content: "\e113";
    color: #808080;
}

.glyphicon-chevron-down {
    content: "\e114";
    color: #808080;
}

#LinkContainer a {
    background: none;
    color: black;
}


/*!  ******************************* SF Lighting ICONS ******************/

.slds img {
    background-color: #868686;
}

#ObjectIcons img {
    background-color: #F0F0F0;
}

.slds-icon {
    width: 30px !important;
    height: 30px !important;
    fill: #8C8D88 !important;
    background-color: #F0F0F0;
}

.slds-icon--small {
    //    fill: white;
}

.slds-icon--small {
    fill: #8C8D88 !important;
    background-color: #F0F0F0;
}

.icon-indicator {
    background-color: #ffffff;
    background: red;
}

.slds-icon-indicator {
    width: 28px !important;
    height: 28px !important;
    fill: white !important;
    //background-color: #F0F0F0;
}

.link-container {
    width: 100%;
    z-index: 10001;
    position: relative;
}

.panel-title a {
    font-weight: bold;
}

.actionsBlock .glyphicon {
    top: 0;
    line-height: inherit;
    margin-top: 0;
}

.data-label {
    margin-left: 20px;
    font-size: 13px;
    color: #808080;
    //float:left;
}

.data-field {
    //margin-left: 40px;
    font-size: 13px;
    color: #515254;
    //float:left;
}

.data-row {
    margin-bottom: 30px;
    height: 24px !important;
    text-align: left;
    vertical-align: middle;
}

.related-object-table {
    table-layout: auto;
    width: 480px !important;
    display: table-cell;
}

.related-object-table td {
    text-align: left;
    width: 140px;
    font-size: 12px;
}

.related-object-table tr {
    height: 22px;
    line-height: 22px;
    margin-top: 10px
}

.waitingSearchDiv {
    top: 40%;
    left: 40%;
    position: absolute;
    z-index: 20000;
    border: 1px solid black;
    margin: 4px;
    border-radius: 4px;
    background-color: white;
}
.waitingHolder {
    top: 74.2px;
    width: 100px;
    margin: 4px;
    padding-left: 8px;
}

.btnSave {
     background: #FF9915 !important;
     height: 32px;
     color: white !important;
     width: 108px;
 }

 .editnew-btn a {
    font-size: 14px;
    margin-left: 12px;
    color: #868686;
 }

 .dateFormat a {
    font-size: 14px;
    color: #868686;
 }

 .lookupIcon {
        background-image: none;
        margin-left: 5px;
        width: 20px;
        height: 20px;
        background-position: left top;
    }
    
    .lookupIconOn {
        background-image: none;
        margin-left: 5px;
         width: 20px;
        height: 20px;
    }
    
    .btnSave {
        background: #FF9915 !important;
        height: 32px;
        color: white !important;
        width: 108px;
    }
    
    .btnRow {
        margin-top: 42px;
    }
    
    .requiredInput {
        position: relative;
        height: 100%;
    }
    
    .requiredInput .requiredBlock {
        background-color: #c00;
        position: absolute;
        left: -4px;
        width: 3px;
        top: 1px;
        bottom: 1px;
    }
    
    .data-top-label {
        font-size: 13px;
        color: #4d4d4d;
        font-weight: normal;
    }
    
    .data-label {
        font-size: 13px;
        color: #808080;
        //float:left;
        font-weight: normal;
        padding-right: 0;
        padding-left: 0;
        word-wrap: break-word;
    }
    
    .data-field {
        //margin-left: 40px;
        font-size: 13px;
        color: #515254;
        //float:left;
        font-weight: normal;
        margin-bottom: 10px;
    }
    
    .data-row {
        height: 24px !important;
        text-align: left;
        vertical-align: middle;
        clear: both;
    }
    
    .data-top-row {
        margin-bottom: 30px;
    }
    
    label {
        display: inline-block;
        font-size: 12px;
        font-weight: normal;
    }

    .svg-icon-anchor {
        display: inline-block;
         z-index:99;
         float:left;
         height: 35px;
        line-height: 35px;
    }
    .svg-icon {
        z-index:-1;
        pointer-events:none;
        display: inline !important;
    }
