 Body {
     background-color: #F0F0F0;
 }
 
 .mainBody {
     background-color: #F0F0F0;
     margin-left: 20px;
     margin-top: 30px;
 }
 
 .container {
     width: 480px;
     margin: 0;
     padding: 0;
     float: left;
     clear: both;
 }
 
 .col-xs-12 {
     padding: 0;
 }
 
 .row {
     //margin-top: 40px;
     //padding: 0 10px;
     margin-left: 0;
     margin-right: 0;
 }
 
 a {
     cursor: pointer;
 }
 
 .clickable {
     cursor: pointer;
 }
 
 .lookupIcon {
     background-image: none;
     margin-left: 5px;
 }
 
 .lookupIconOn {
     background-image: none;
     margin-left: 5px;
 }
 
 .btnSave {
     background: #FF9915 !important;
     height: 32px;
     color: white !important;
     width: 108px;
 }
 
 .btnRow {
     margin-top: 42px;
 }
 
 .requiredInput {
     position: relative;
     height: 100%;
 }
 
 .requiredInput .requiredBlock {
     background-color: #c00;
     position: absolute;
     left: -4px;
     width: 3px;
     top: 1px;
     bottom: 1px;
 }
 
 .data-top-label {
     font-size: 13px;
     color: #4d4d4d;
     font-weight: normal;
 }
 
 .data-label {
     font-size: 13px;
     color: #808080;
     //float:left;
     font-weight: normal;
     padding-right: 0;
     padding-left: 0;
     word-wrap: break-word;
 }
 
 .data-field {
     //margin-left: 40px;
     font-size: 13px;
     color: #515254;
     //float:left;
     font-weight: normal;
     margin-bottom: 10px;
 }
 
 .data-row {
     height: 24px !important;
     text-align: left;
     vertical-align: middle;
     clear: both;
 }
 
 .data-top-row {
     margin-bottom: 30px;
 }
 
 label {
     display: inline-block;
     font-size: 12px;
     font-weight: normal;
 }
 
 .waitingSearchDivCon {
     top: 40%;
     left: 40%;
     position: absolute;
     z-index: 20000;
     border: 1px solid black;
     margin: 4px;
     border-radius: 4px;
     background-color: white;
 }
 
 .waitingHolder {
     top: 74.2px;
     width: 100px;
     margin: 4px;
     padding-left: 8px;
 }
